<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Secre - Lista de clientes</title>

        <link rel="stylesheet" type="text/css" href="../css/stylesSecretaria/StyleListaClientes.css">
        <link rel="stylesheet" type="text/css" href="../css/stylesSecretaria/Cabecera.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="cabecera">
            <div class="container-fluid">
                <ul id="lista-cabecera">
                    <li>
                        <a href="#" style="text-decoration:none">Bienvenido, [Nombre Usuario]</a>
                    </li>
                    <li>
                        <a href="#" style="text-decoration:none">Ir al sitio</a>
                    </li>
                    <li>
                        <a href="#" style="text-decoration:none"> Editar perfil </a>
                    </li>
                    <li>
                        <a href="#" style="text-decoration:none"> Salir </a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="cotenido-secre">
            <div id="menu-navegacion" class="navegacion-izq">
                <div class="container-fluid">
                    <a class="com-titulo" href="#" style="text-decoration:none">SGI</a>
                </div> 
                <section>
                    <div class="selectors">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 border mb-3 rounded">
                                    <a class="imprimir" tabindex="0" href="#" style="text-decoration:none">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                                            </svg>
                                            <span class="text-izq">Imprimir</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 border mb-3 rounded">
                                    <a class="agregar-cita" tabindex="0" href="#" style="text-decoration:none">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                                <span class="text-izq">Agregar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 border mb-3 rounded">
                                    <a class="calendario" tabindex="0" href="#" style="text-decoration:none">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                            </svg>
                                            <span class="text-izq">Calendario</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div>
            
            <div class="cuerpo-secre">
                <ul class="cuerpo_list">
                    <li>
                        <div class="dropdown">
                            <a type="button" href="#" data-toggle="dropdown" style="text-decoration:none">
                                <span>Ordenar por</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide-fill" viewBox="0 0 16 16">
                                    <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Fecha</a>
                                <a class="dropdown-item" href="#">Edad</a>
                                <a class="dropdown-item" href="#">Nombre</a>
                            </div>
                        </div>
                        <table style="border:hidden" class="table table-success table-striped" id="main-table">
                            <thead style="border:hidden">
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="col"></th>
                                    <th style="border:hidden" scope="col">Fecha Contacto</th>
                                    <th style="border:hidden" scope="col">Nombre</th>
                                    <th style="border:hidden" scope="col">Apellido</th>
                                    <th style="border:hidden" scope="col">Email</th>
                                    <th style="border:hidden" scope="col">Telefono</th>
                                    <th style="border:hidden" scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody style="border:hidden">
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="row">1</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Mark</td>
                                    <td style="border:hidden">Otto</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden">111444777</td>
                                    <td><a src="src/main/resources/templates/img/logos/eliminar.png"></a></td>
                                </tr>
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="row">2</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Jacob</td>
                                    <td style="border:hidden">Thornton</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden">111222333</td>
                                </tr>
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="row">3</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Jacob</td>
                                    <td style="border:hidden">Thornton</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden">123456879</td>
                                </tr>
                                <tr>
                                    <th style="border:hidden" scope="row">4</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Larry the Bird</td>
                                    <td style="border:hidden">@twitter</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden">
                                    
                                    </td>
                                </tr> 
                                <tr style="border:hidden">
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="css-yht0st-Root et8m3zx1">
                            <button type="button" 
                                    class="css-qdue7i-Button-button-LoadMoreButton et8m3zx0">
                                    <span>Cargar mas</span>
                            </button>
                        </div>
                    </li>
                </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" 
                scrossorigin="anonymous"></script>
        </section>
    </body>
</html>